html {
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	font-family: 'Roboto';
}

body {
	overflow: auto;
	width: 100%;
	height: inherit;
	margin: 0px;
	padding: 0px;
}

body table tr td {
	border: 0px;
}

.version {
	position: fixed;
	top: 15px;
	right: 15px;
	color: white;
	font-size: 12px;
	text-align: right;
}

.version a {
	color: #ff8080;
	text-decoration: none;
}

.version a:link {
	color: #ff8080;
	text-decoration: none;
}

.version a:visited {
	color: #ff8080;
	text-decoration: none;
}

.version a:hover {
	color: #ffb3b3;
	text-decoration: none;
}

.version a:active {
	color: #ff8080;
	text-decoration: none;
} 

.icon-48 {
	font-size: 48px;
}

.icon-120 {
	font-size: 120px;
}

.topnav {
	background-color: #333;
	color: #f2f2f2;
	height: 60px;
}

.topnav-action {
	background-color: #333;
	overflow: hidden;
	color: #f2f2f2;
	height: 60px;
	text-align: right;
}

.topnav-action-name {
	margin: 0px 20px;
	font-size: 24px;
}

.topnav-title-block {
	position: absolute;
	top: 2px;
	left: 2px;
	height: 60px;
	width: 300px;
	margin: 1px;
	padding: 0px;
}

.navtable {
	width: 100%;
	height: 100%;
	border-collapse: collapse;
}

.sidenav {
	height: 100%;
	width: 160px;
	background-color: #111;
	overflow-x: hidden;
	padding-top: 20px;
	vertical-align: top;
}

.sidenav input {
	width: 160px;
}

.sidenav-menu {
	padding: 6px;
	text-decoration: none;
	font-size: 18px;
	color: #818181;
	display: block;
}

.sidenav-spacer {
	height: 2px;
}

.main {
	background-color: #33334d;
	color: white;
	overflow: auto;
	padding: 10px;
	max-height: 98%;
}

.main-report {
	width: 100%;
}

#id-drop-area {
	border: 2px dashed #cccccc;
	border-radius: 11px;
	width: 480px;
	margin: 100px auto;
	padding: 20px;
	height: 300px;
}

#id-drop-area.highlight {
	border-color: purple;
}

p {
	margin-top: 0;
}

.drag-n-drop-form {
	margin-bottom: 10px;
	text-align: center;
}

.button {
	border: none;
	padding: 4px 50px;
	text-decoration: none;
	margin: 0px 2px;
	cursor: pointer;
}

.button-grey {
	color: black;
	background: #cccccc;
}

.button-grey:hover {
	background: #dddddd;
}

.button-blue {
	color: white;
	background: #0099ff;
}

.button-blue:hover {
	background: #66ccff;
}

.button-green {
	color: white;
	background: #4caf50;
}

.button-green:hover {
	background: #83c985;
}

.button-red {
	color: white;
	background: #e43d24;
}

.button-red:hover {
	background: #ee8777;
}

#id-file {
	display: none;
}

.logs-title {
	margin: 10px;
	font-weight: bold;
}

.logs-code {
	background-color: #33334d;
}

.log-error {
	color: #ff3300;
}

.log-warning {
	color: #ffcc66;
}

.log-notify {
	color: white;
}

.log-info {
	color: #66ff66;
}

.log-debug {
	color: #66ccff;
}

.logs-font {
	color: white;
	font-family: monospace;
}

.report-title {
	color: white;
	font-family: monospace;
	font-size: 18px;
	font-weight: bold;
}

.report-section {
	font-size: 16px;
}

.not-link {
	color: red;
}

.not-link:link {
  color: red;
  text-decoration: none;
}

/* visited link */
.not-link:visited {
  color: red;
  text-decoration: none;
}

/* mouse over link */
.not-link:hover {
  color: orange;
  text-decoration: none;
}

/* selected link */
.not-link:active {
  color: orange;
  text-decoration: none;
}

.block-collapse {
	padding: 0px;
	margin: 0px;
}

.diff-table {
	margin: auto;
	padding: 20px;
	border: 0px;
	color: white;
	width: 100%;
	text-align: center;
	border-collapse: collapse;
}

.diff-area {
	resize: none;
	width: 100%;
	height: 300px;
	text-align: left;
	overflow: auto;
}

.no-padding {
	padding: 0px;
}

.no-margin {
	margin: 0px;
}