html {
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
}

#id-drop-area {
	border: 2px dashed #cccccc;
	border-radius: 11px;
	width: 480px;
	font-family: sans-serif;
	margin: 100px auto;
	padding: 20px;
	height: 300px;
}

#id-drop-area.highlight {
	border-color: purple;
}

p {
	margin-top: 0;
}

.drag-n-drop-form {
	margin-bottom: 10px;
	text-align: center;
}

.button {
	border: none;
	padding: 2px 50px;
	text-decoration: none;
	margin: 0px 2px;
	cursor: pointer;
}

.button-grey {
	color: black;
	background: #cccccc;
}

.button-grey:hover {
	background: #dddddd;
}

.button-green {
	color: white;
	background: #4caf50;
}

.button-green:hover {
	background: #83c985;
}

.button-red {
	color: white;
	background: #e43d24;
}

.button-red:hover {
	background: #ee8777;
}

.button-right {
	float: right;
}

#id-file {
	display: none;
}

.logs-code {
	overflow: auto;
	background-color: #33334d;
	width: 90%;
	height: 100%;
	margin: auto;
	padding: 10px;
}

.log-error {
	color: #ff3300;
}

.log-warning {
	color: #ffcc66;
}

.log-notify {
	color: white;
}

.log-info {
	color: #66ff66;
}

.logs-btn-container {
	padding: 10px 10px 0px 10px;
}
